#parse('/templates/web-interface/commons.vm')
<h2>#l('remote_control')</h2>
#bubbles()
<button onclick="connect()">Connect</button>
<script type="text/javascript">
var webSocket;
function connect() {
webSocket = new WebSocket("ws://" + window.location.host + "/test");
webSocket.onopen = onWsOpen;
webSocket.onclose = onWsClose;
webSocket.onerror = onWsError;
webSocket.onmessage = onWsMessage;
}
function onWsOpen(event) {
console.log("WebSocket: opened");
sendMessage('{type:join}');
}
function onWsError(error) {
console.log("WebSocket: error: " + error.message);
}
function onWsClose(event) {
console.log('WebSocket: closed.');
}
function onWsMessage(event) {
console.log('WebSocket: received message:', event);
}
function sendMessage(message) {
if (webSocket == null) {
return;
}
console.log('WebSocket: client sending message: ', message);
webSocket.send(message);
}
</script>